header {
background-color: $accent;
color: $text;
padding: 10px 0;

.tituloencabezado {
    text-align: center;
    font-size: 1.8rem;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;

    a {
    color: $text;
    text-decoration: none;
    font-weight: bold;
    &:hover {
        color: darken($accent, 20%);
    }
    }
}
}