header {
  background-color: #2d2d2d;
  color: white;
  padding: 10px;

.tituloencabezado {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 1.8rem;
    color: white;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 10px 0;
    gap: 20px;

    li a {
        text-decoration: none;
        color: white;
        transition: color 0.3s ease;

        &:hover {
        color: rgba(214, 146, 19, 0.58);
        }
    }
    }
}
}