@mixin center {
display: flex;
justify-content: center;
align-items: center;
}

@mixin boton($color) {
background-color: $color;
color: white;
padding: 8px 15px;
border: none;
border-radius: 5px;
cursor: pointer;
transition: 0.3s;
&:hover {
    background-color: darken($color, 10%);
}
}