@mixin center {
display: flex;
justify-content: center;
align-items: center;
}

@mixin btn($bg:$accent) {
background: $bg;
color: #fff;
padding: 8px 12px;
border-radius: 8px;
border: none;
cursor: pointer;
transition: transform .15s, background .18s;
&:hover { transform: translateY(-2px); background: darken($bg, 6%); }
}