.servicios {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
gap: 16px;

article {
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: $border-radius;
    padding: 12px;
    @include transition(transform);

    &:hover {
    transform: scale(1.03);
    }
}
}